/* Always set the map height explicitly to define the size of the div
 * element that contains the map.
 */
#root,
#app,
#map {
    height: 100%;
}

.map {
    margin-top: 70px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato", "Arial", sans-serif;
}

header {
    height: 70px;
    background-color: #000;
    color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.map-active {
    margin-top: 70px;
    margin-left: 220px;
    transition: margin-left 0.5s;
}

span,
h1 {
    display: inline;
    line-height: 70px;
    font-size: 1.8em;
}

span {
    margin-right: 50px;
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

span:hover {
    cursor: pointer;
}

form {
    font-size: 14px;
}

input {
    margin: 0 10px 15px;
}

label {
    display: block;
    padding: 0 15px 15px 5px;
    margin-left: 6px;
}

.intro {
    padding: 0 0 10px 5px;
}

ul {
    padding-left: 10px;
}

.ul {
    display: none;
}

.ul-active {
    display: block;
    list-style: none;
    font-size: 50px;
    display: block;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav-active {
    background-color: #000;
    color: white;
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 10px 0;
}

li {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

li:hover {
    background-color: #3e3e3e;
    padding-left: 10px;
    cursor: pointer;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

.closebtn:hover {
    background-color: #000;
}

@media screen and (min-width: 300px) and (max-width: 400px) {
    header h1 {
        margin-left: 15%;
        font-size: 1.4rem;
    }

    header span {
        margin-right: 0;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    header h1 {
        margin-left: 25%;
        font-size: 1.6rem;
    }

    header span {
        margin-right: 0;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    header h1 {
        margin-left: 35%;
        font-size: 1.8rem;
    }

    header span {
        margin-right: 0;
    }
}

@media screen and (min-width: 801px) {
    header span {
        margin-right: 20px;
    }
    header h1 {
        margin-left: 40%;
    }
}
